@using System.Text
@using ProduceWithPandas.Models;
@page "/guessthesongname"

<Title Level=2>熊猫堂二专先行曲歌名竞猜</Title>
<Alert style="margin:10px" Type="@AlertType.Warning" Message="歌名等待揭晓" ShowIcon="true" />
<Text>测试我的歌名 (字数：@_testName?.Length / 15 )</Text>
<div style="max-width: 500px">
    <Search Placeholder="请输入歌名" EnterButton="@("开始计算")" @bind-Value="@_testName" OnSearch="OnSearch" />
</div>
<br/>
<br/>
<Paragraph>@_actualName <Text Code>@_actualNameBytes</Text></Paragraph>
<Paragraph>@_testName <Text Code>@_testNameBytes</Text></Paragraph>
<br/>
<Text>得分：@_cross / (@_testMod.ToString("N4") * @_actualMod.ToString("N4")) = <Text Strong>@_result.ToString("N4") %</Text></Text>
<br />
<br />
<Button Type="@ButtonType.Primary" OnClick=@OnClick >查看当前排行</Button>

<Table
    TItem="DoubanReply"
    DataSource="@_records"
    Loading=@_loading
    >
    <Column @bind-Field="@(context.Name)"></Column>
    <Column @bind-Field="@(context.Answer)"></Column>
    <Column @bind-Field="@(context.Score)"></Column>
</Table>